@model CartFormServiceModel


    @if (@Model.Products.Count == 0)
{
    <h1 class="text-center">Cart is empty</h1>
}
else
{
    <partial name="_OrderProductsPartial" model="@Model.Products"></partial>

    <h3 class="text-center mt-5 mb-2">Shipping details</h3>
    <div class="mb-3 text-center">
        <form class="container" asp-controller="Cart" asp-action="CreateOrder" method="post">
            <div class="row">
                <div class="col-6 form-group text-center mt-4">
                    <label>First name</label>
                    <input asp-for=FirstName class="form-control text-center" placeholder="e.g. John">
                    <span class="text-center text-danger " asp-validation-for="FirstName"></span>

                </div>

                <div class="col-6 form-group text-center mt-4">
                    <label>Last name</label>
                    <input asp-for=LastName class="form-control text-center" placeholder="e.g. Smith">
                    <span class="text-center text-danger " asp-validation-for="Country"></span>

                </div>

                <div class="col-6 form-group text-center mt-4">
                    <label>Country</label>
                    <input asp-for=Country class="form-control text-center placeholder-glow" placeholder="e.g. Bulgaria">
                    <span class="text-center text-danger " asp-validation-for="Country"></span>

                </div>

                <div class="col-6 form-group text-center mt-4">
                    <label>City</label>
                    <input asp-for=City class="form-control text-center" placeholder="e.g. Plovdiv">
                    <span class="text-center text-danger " asp-validation-for="City"></span>

                </div>

                <div class="col-6 form-group text-center mt-4">
                    <label>Street</label>
                    <input asp-for=Street class="form-control text-center" placeholder="e.g. General Radko Dimitriev 10">
                    <span class="text-center text-danger " asp-validation-for="Street"></span>

                </div>

                <div class="col-6 form-group text-center mt-4">
                    <label>Postal Code</label>
                    <input asp-for=PostalCode class="form-control text-center" placeholder="e.g. 4000">
                    <span class="text-center text-danger " asp-validation-for="PostalCode"></span>
                </div>

                <div class="col-12 form-group text-center mt-4">
                    <label>Email Address</label>
                    <input asp-for=EmailAddress class="form-control text-center" placeholder="e.g. somebody@gmail.com">
                    <span class="text-center text-danger " asp-validation-for="EmailAddress"></span>
                </div>
            </div>
            <button class="btn btn-primary mt-4">Submit order</button>
        </form>
    </div>
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-warning text-center mt-2" role="alert">
        @Html.Raw(@TempData["ErrorMessage"])
    </div>
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/custom-attribute-client-side-validation.js"></script>
}