@using ClothesShop.Controllers.Models
@model AddProductInputModel

@{
    ViewData["Title"] = "Add Product Page";
}


<div class="text-center">
    <h1 class="display-4">Add Product</h1>
</div>

<form id="addProduct" method="post" asp-area="Admin" asp-action="Add" asp-controller="Products">
    <div class="form-group">
        <label>Name</label>
        <input asp-for=Name class="form-control" type="text" />
        <span class="text-center text-danger " asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for=Price class="form-control" type="number" />
        <span class="text-center text-danger " asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for=Description class="form-control" type="text" placeholder="Product description" />
        <span class="text-center text-danger " asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label>Manufacturer</label>
        <input asp-for=Manufacturer class="form-control" type="text" placeholder="Product Manufacturer" />
        <span class="text-center text-danger " asp-validation-for="Manufacturer"></span>
    </div>

    <div class="form-group">
        <label>Category</label>
        <select asp-items="Model.CategoryOptions" asp-for=CategoryId class="form-control">
            <option selected value="">Please select a category</option>
        </select>
        <span class="text-center text-danger " asp-validation-for="CategoryId"></span>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-6 form-group">
            <label>XS</label>
            <input onchange="onChange()" asp-for=SizeXS class="form-control sizeInput" type="number" placeholder=0 />
            <span class="text-center text-danger" asp-validation-for="SizeXS"></span>

        </div>

        <div class="col-lg-2 col-md-6 form-group">
            <label>S</label>
            <input onchange="onChange()" asp-for=SizeS class="form-control sizeInput" type="number" placeholder=0 />
            <span class="text-center text-danger" asp-validation-for="SizeS"></span>

        </div>

        <div class="col-lg-2 col-md-6 form-group">
            <label>M</label>
            <input onchange="onChange()" asp-for=SizeM class="form-control sizeInput" type="number" placeholder=0 />
            <span class="text-center text-danger" asp-validation-for="SizeM"></span>

        </div>

        <div class="col-lg-2 col-md-6 form-group">
            <label>L</label>
            <input onchange="onChange()" asp-for=SizeL class="form-control sizeInput" type="number" placeholder=0 />
            <span class="text-center text-danger" asp-validation-for="SizeL"></span>

        </div>

        <div class="col-lg-2 col-md-6 form-group">
            <label>XL</label>
            <input onchange="onChange()" asp-for=SizeXL class="form-control sizeInput" type="number" placeholder=0 />
            <span class="text-center text-danger" asp-validation-for="SizeXL"></span>

        </div>

        <div class="col-lg-2 col-md-6 form-group">
            <label>XXL</label>
            <input onchange="onChange()" asp-for=SizeXXL class="form-control sizeInput" type="number" placeholder=0 />
            <span class="text-center text-danger" asp-validation-for="SizeXXL"></span>
        </div>
    </div>

    <span id=quantitySpan class="text-center text-danger" asp-validation-for="IsSizeCountValid"></span>

    <div class="form-group">
        <label>Gender Group</label>
        <select asp-items="Model.GenderGroupOptions" asp-for=GenderGroupId class="form-control">
            <option selected value="">Please select a gender</option>
        </select>
        <span class="text-center text-danger" asp-validation-for="GenderGroupId"></span>
    </div>

    <div class="form-group">
        <label>AgeGroup</label>
        <select asp-items="Model.AgeGroupOptions" asp-for=AgeGroupId class="form-control">
            <option selected value="">Please select an age group</option>
        </select>
        <span class="text-center text-danger" asp-validation-for="AgeGroupId"></span>
    </div>

    <div class="form-group">
        <label>Product Image URL</label>
        <input asp-for=ImageURL class="form-control" type="url" placeholder="https://example-image.com/image123" />
        <span class="text-center text-danger " asp-validation-for="ImageURL"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/custom-attribute-client-side-validation.js"></script>

<script>



</script>
}