@{
    ViewData["Title"] = "Admin page";
}
<div class="container bg-light shadow">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Women</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Come and check out our cool collection of women's clothing and be amazed !</p>

        </div>
        <div class="overflow-hidden" style="max-height: 10%;">
            <div class="container px-5">
                <img src="https://image.freepik.com/free-photo/attractive-happy-funny-emotion-stylish-woman-shopaholic-red-trendy-dress-holding-colorful-shopping-bags-pink-wall-isolated-sale-excited-spring-summer-fashion-trend_285396-7344.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</div>

