@{
    ViewData["Title"] = "Home page";
}
<div class="container bg-light shadow-lg">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Women</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Come and check out our cool collection of women's clothing and be amazed !</p>
        </div>
        <div class="overflow-hidden" style="max-height: 10%;">
            <div class="container px-5">
                <img src="https://media.istockphoto.com/photos/happy-girl-shopping-in-the-fashion-store-picture-id863190232?k=20&m=863190232&s=170667a&w=0&h=40NDrHOJQS9xkJc7UIKkfKdcDhzvsVBTQpHMiPvR2BU=" class="img-fluid border rounded-3 shadow-sm mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</div>
