@model OrderDetailsViewModel

@if (TempData.ContainsKey("IsOrderFresh"))
{
    <div class="jumbotron text-center">
        <h1 class="display-4">Thank you for shopping with us !</h1>
        <p class="lead">You will find a summary of your order below.</p>
        <p class="lead">If you wish to return to this summary and haven't yet registerd in our site - just bookmark this page.</p>
        <hr class="my-4">
    </div>

    <partial name="_OrderProductsPartial" model="@Model.Products"></partial>

    <h3 class="text-center mt-5 mb-2">Shipping details</h3>
    <div class="row">

        <div class="col-6 form-group text-center mt-4">
            <label>First name</label>
            <input class="form-control text-center disabled" placeholder="e.g. John">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Last name</label>
            <input class="form-control text-center disabled" placeholder="e.g. Smith">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Country</label>
            <input class="form-control text-center placeholder-glow disabled" placeholder="e.g. Bulgaria">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>City</label>
            <input class="form-control text-center disabled" placeholder="e.g. Plovdiv">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Street</label>
            <input class="form-control text-center disabled" placeholder="e.g. General Radko Dimitriev 10">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Postal Code</label>
            <input class="form-control text-center disabled" placeholder="e.g. 4000">
        </div>

        <div class="col-12 form-group text-center mt-4">
            <label>Email Address</label>
            <input class="form-control text-center disabled" placeholder="e.g. somebody@gmail.com">
        </div>
    </div>
}





