@if (true)
{
    <div class="jumbotron text-center">
        <h1 class="display-4">Thank you for shopping with us !</h1>
        <p class="lead">You will find a summary of your order below.</p>
        <p class="lead">If you wish to return to this summary and haven't yet registerd in our site - just bookmark this page.</p>
        <hr class="my-4">
    </div>
}