<div class="row text-center">
    <div class="col-md-6 col-sm-12">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/2112ae64-2432-40f8-9d3c-68c3256b04fe/club-skirt-regular-tennis-skirt-F9bHhm.png" class="card-img-top img-lg shadow-lg">
    </div>

    <div class="col-md-6 col-sm-12">
        <h3>Description</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>